@import "patials/_var";
@import "patials/_utility";

h1,h3{
    color: $DarkBlue;
    font-weight: 600;
}
p{
    color: $GrayishBlue;
    font-weight: 200;
}

header{
    margin-top: 1.5rem;
    min-height: 20vh;
    text-align: center;
    h1.hGray{
        color: $GrayishBlue;
        font-weight: 400;
    }
}

main{
    justify-content: center;
    min-height: 73vh;
    display: flex;
    flex-flow: row wrap;
    section{
        position: relative;
        width: 25rem;
        height: 15rem;
        padding: 0.2rem;
        img{
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-.7rem, -.3rem);
        }
    }
    .sup,.TBKar .TB,.TBKar .kar,.Calc{
        padding: 1rem 2rem;
        box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, 0.4),-.1rem -.1rem 1rem rgba(0, 0, 0, 0.4);
    }
    .sup{
        margin-right: .5rem;
        border-top: .2rem solid $Cyan;
        align-self: center;
        justify-self: flex-start;
    }
    .TBKar{
        
    .TB{
        margin: .4rem auto;
        border-top: .2rem solid $Red;
        align-self: flex-start;
        justify-self: center;
    }
    .Kar{
        border-top: .2rem solid $Orange;
        align-self: flex-end;
        justify-self: center;
        margin-bottom: .5rem;
        
    }
    }
    .Calc{
        margin-left: .7rem;
        border-top: .2rem solid $Blue;
        align-self: center;
        justify-self: flex-end;
    }
}
footer{
    text-align: center;
}

@import "patials/_media";