@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
$DarkBlue: #4c4e61;
$GrayishBlue: #a3a5ae;
$LightGray: #fafafa;
$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;